---
import BlogLayout from '../../layouts/BlogLayout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BlogLayout title="Thunder.so Blog">
	<div class="container">
		<section class="intro text-center mb-10">
			<h2>
				<span class="text-3xl font-light block mb-2">Blog</span>
			</h2>
			<p class="mb-2">We post technical articles and product updates.</p>
		</section>

		<section class="posts">
			{
				posts.map((post) => (
					<article>
						{post.data.heroImage && (
							<div class="mb-4 mt-[-2rem] ml-[-2rem] mr-[-2rem]">
								<a href={`/blog/${post.slug}/`}>
									<img width={720} height={360} src={post.data.heroImage} alt="" />
								</a>
							</div>
						)}

						<a href={`/blog/${post.slug}/`}>
							<h2 class="text-3xl font-light block mb-2">{post.data.title}</h2>
						</a>

						<p class="date">
							<FormattedDate date={post.data.pubDate} />
						</p>
					</article>
				))
			}
		</section>
	</div>
</BlogLayout>

<style>
	section.posts {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2em;
	}

	@media (max-width: 720px) {
		section.posts {
			grid-template-columns: 1fr;
		}
	}

	article {
		border: 1px solid var(--border);
		overflow: hidden;
		padding: 2rem;
		background-color: rgba(0, 0, 0, 0.25);
	}

	img {
		display: block;
		width: 100%;
		height: auto;
	}

	.date {
		margin: 0;
		color: var(--text-default);
	}
</style>