---
const frameworks = [
{ id: 8, title: 'Astro', content: 'Deploy Astro Build on AWS', src: 'Astro.svg', link: '/docs/frameworks/astro' },
{ id: 2, title: 'React JS', content: 'Deploy React SSG on AWS', src: 'React.svg', link: '/docs/frameworks/vite-react' },
// { id: 8, title: 'Preact', content: 'Deploy Preact on AWS', src: 'Preact.svg', link: '/docs/frameworks/vite-preact' },
{ id: 1, title: 'Vue', content: 'Deploy VueJS on AWS', src: 'Vue.svg', link: '/docs/frameworks/vite-vue' },
{ id: 3, title: 'Svelte', content: 'Deploy Svelte on AWS', src: 'Svelte.svg', link: '/docs/frameworks/vite-svelte' },
{ id: 4, title: 'Vite', content: 'Deploy Vite on AWS', src: 'Vite.svg', link: '/docs/frameworks/vite' },
{ id: 5, title: 'Next.js', content: 'Deploy NextJS on AWS' , src: 'Nextjs.svg', link: '/docs/frameworks/nextjs-static'},
]
---

<div class="frameworks">
    {frameworks.map((slide) => (
        <a href={slide.link} class="framework" :key={slide.id}>
        <div class="sr-only">
            <h4>{slide.title}</h4>
            <p>{slide.content}</p>
        </div>
        <img src={`/frameworks/${slide.src}`} alt={`Deploy ${slide.title} on AWS`} />
        <p>{slide.title}</p>
        </a>
    ))}
</div>

<style scoped>
.framework {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--bg-alt);
    border-radius: 12px;
    height: 100%;
    background-color: var(--bg-alt);
    transition: border-color 0.25s, background-color 0.25s;
    padding: 24px;
    flex: 1;
    text-decoration: none;
}

.framework:hover {
    border-color: var(--border);
    text-decoration: none;
}

.framework img {
    max-width: 72px;
    height: 72px;
    display: block;
}

.framework p {
    display: block;
    margin-top: 0.75rem;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
}
</style>